extends layout

block content
	#quiz-maker-app
		script(type='text/javascript').
			const baseUrl = "#{baseUrl}";			
			const title = "#{title}";
			const subTitle = "#{subTitle}";
		script(type='text/javascript' src=`${baseUrl}/javascripts/quiz_maker_app.bundle.js`)
